html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 200px 450px 1fr;
    grid-template-rows: 50px 900px 50px;
    grid-template-areas: 
    ". . . ."
    ". side-menu play-area ."
    ". . . .";
}

#play-area{
    background: linear-gradient(to top, darkgrey, darkgrey 90%, hotpink 90%, hotpink);
    grid-area: play-area;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(20, 1fr);
}

.block{
    border: 1px solid #333
}

.side{
    background-color: rgb(55, 47, 61);
    grid-area:side-menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 100px 1fr 1fr;
    grid-template-areas: 
    "score"
    "speed"
    "pauseState"
    "controls";
}

#score, #pauseState, #speed {
    background-color: honeydew;
    font-size: 40px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#speedControls {
    font-family: unset;
    color: black;
}

#score {
    grid-area: score;
}

#pauseState {
    grid-area: pauseState
}

.controls{
    grid-area: controls;
    font-size: 20px;
    background-color: honeydew;
    text-align: center;
    padding: 5px;
}